/* Add your SignUp styles here */
.sign-up__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .sign-up__wrapper form {
    width: 24rem;
    max-width: 90%;
    z-index: 1;
    animation: showSignUpForm 1s;
  }
  